*{
    margin: 0;
    padding: 0;
}
body{
    height: 1000px;
    background-color: #dbd8e3;
    overflow-x: hidden;
    font-family: sans-serif;
}
h3{
    color: white;
    
}
nav{
    display: flex;
    position: absolute;
    justify-content: space-around;
    background-color: #352f44;
    position: sticky;
    top: 0;
    padding: 20px 0;
    z-index: 3;
    letter-spacing: 1px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 40%;
    font-size: 0.8em;
    align-items: center;
}
nav ul li{
    padding-right: 40px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
nav ul li a:hover{
    color:  #2a2438;
    background-color: #dbd8e3;
    padding: 5px;
    border-radius: 10px;
}

/* menu toggle */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}

/* contact */
h4{
    padding-left: 350px;
    padding-bottom: 10px;
    padding-top: 30px;
    color: #2a2438;
}
.email{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    margin: auto;
    width: 500px;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
    border-radius: 10px;
}
.form-group{
    margin-bottom: 20px;
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type='text'],
input[type='email'],
textarea {
    width: 100%;
}
textarea{
    height: 100px;
}
input[type='submit']{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
input[type='submit']:hover{
    background-color: #352f44;
}
.socmed{
    background-color: white;
    margin: auto;
    margin-top: 60px;
    width: 200px;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
    border-radius: 10px;
}
.socmed h5{
    padding-bottom: 5px;
    text-align: center;
}
.socmed a{
    text-decoration: none;
}
.socmed img{
    width: 50px;
    padding-right: 10px;
    padding-left: 3px;
}

/* hamburger menu animation */

.menu-toggle span:nth-child(2){
    /* background-color: aqua; */
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4){
    /* background-color: aqua; */
    transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2){
    background-color: black;
    transform:rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4){
    background-color: black;
    transform:rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform:scale(0);
}

/* responsive */
/* ukuran hp */
@media screen and (max-width: 576px){
    body{
        overflow-x: hidden;
    }
    .menu-toggle{
        display: flex;
        z-index: 1;
    }
    nav ul{
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        height: 100vh;
        background-color: #352f44;
        justify-content: space-evenly;
        align-items: center;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }
    nav ul.slide{
        opacity: 1;
        transform: translateX(0);
    }
    .email{
    width: 50%;
}
.socmed{
    width: 30%;
    align-items: center;
    text-align: center;
}
}
/* contact */


/* ukuran tablet */
@media screen and (max-width: 768px){
    nav ul{
        width: 50%;
    }
}
