*{
    margin: 0;
    padding: 0;
}
body{
    height: auto;
    background-color: #dbd8e3;
    overflow-x: hidden;
    font-family: sans-serif;
}
/* home */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    gap: 3rem;
    /* background-color: black; */
}
.home-content h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    color: #000047;
}
.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #000047;
}
span{
    /* color: #352f44; */
    color: black;
    
}
.home-img{
    border-radius: 50%;
    padding-left: 40px;
}
.home-img img{
    position: relative;
    width: 300px;
    border-radius: 50%;
    border: 4px solid black ;
    box-shadow: 0 0 25px solid black;
    cursor: pointer;
    transition: 0.2s linear;
}
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

/* home end */
.name a{
    text-decoration: none;
    color: #dbd8e3;
    background-color: #000047;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.7s;
}
.name a:hover{
    color: #000047;
    background-color: transparent;
}
h3{
    color: #dbd8e3;
    
    
}
nav{
    display: flex;
    /* position: absolute; */
    justify-content: space-around;
    /* background-color: #352f44; */
    position: sticky;
    top: 0;
    padding: 20px 0;
    z-index: 3;
    letter-spacing: 1px;
    /* border-bottom: 1px solid #352f44; */
    box-shadow: 0 0px 2px 2px #352f44;
    backdrop-filter: blur(5px);
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 40%;
    align-items: center;
}
nav ul li{
    padding-right: 40px;
}
nav ul li a{
    color: #2a2438;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
}
nav ul li a:hover{
    color:  #dbd8e3;
    /* background-color: #2a2438; */
    background-color: #000047;
    padding: 5px;
    border-radius: 10px;
}

/* menu toggle */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: #2a2438;
    border-radius: 3px;
    transition: all 0.5s;
}
/* project */
.text-proj h3{
    color: #2a2438;
    text-align: center;
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-top: 100px;
}
.project{
    display: flex;
    margin: 10px 100px 50px 190px ;
    
}
.project h4{
    padding: 0;
    padding-top: 20px;
    font-size: 30px;
}
.project-1{
    padding: 20px
}
.project-1 a{
    color: black;
}
.project-1 img{
    width: 400px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0 0 5px 4px ;
    transition: 0.3s ease-in-out;
}
.project-1 a:hover img{
    filter: brightness(50%);
}
.project-2 a{
    color: black;
}
.project-2 img{
    width: 400px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0 0 5px 4px ;
    transition: 0.3s ease-in-out;
}
.project-2 a:hover img{
    filter: brightness(50%);
}
.project-2{
    padding: 20px;
}
/* project end*/

/* contact */
h4{
    padding-left: 350px;
    padding-bottom: 10px;
    padding-top: 30px;
    color: #2a2438;
}
.email{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    margin: auto;
    width: 500px;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
    border-radius: 10px;
}
.form-group{
    margin-bottom: 20px;
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type='text'],
input[type='email'],
textarea {
    width: 100%;
}
textarea{
    height: 100px;
}
input[type='submit']{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
input[type='submit']:hover{
    background-color: #352f44;
}
.socmed{
    background-color: white;
    margin: auto;
    margin-top: 60px;
    width: 200px;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
    border-radius: 10px;
}
.socmed h5{
    padding-bottom: 5px;
    text-align: center;
}
.socmed a{
    text-decoration: none;
}
.socmed img{
    width: 50px;
    padding-right: 10px;
    padding-left: 3px;
    transition: 0.3s ease-in-out;
}
.socmed a:hover img{
    filter: brightness(50%);
}
/* contact */

/* hamburger menu animation */

.menu-toggle span:nth-child(2){
    /* background-color: aqua; */
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4){
    /* background-color: aqua; */
    transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2){
    background-color: #2a2438;
    transform:rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4){
    background-color: #2a2438;
    transform:rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform:scale(0);
}

/* footer */
.foot{
    height: 300px;
    background-color: #000047;
    margin-top: 50px;
    padding: 30px;
    color: white;
}
.foot-1{
    display: flex;
    justify-content: space-around;
}
.foot ul li {
    list-style: none;
    padding: 10px;
}
.foot ul li a{
    text-decoration: none;
    color: white;
}
.foot ul li a:hover{
    color: #5C5CFF;
}
.foot-under{
    flex-direction: column;
}
.foot-under hr{
    margin-top: 50px;
}
.foot-under p{
    text-align: center;
    font-size: 0.8em;
    padding-top: 10px;
}
.foot-under span a{
    text-decoration: none;
    color: #5C5CFF;
}
.foot-under span a:hover{
    color: black;
}
/* footer end */


/* responsive */
/* ukuran hp */
@media screen and (max-width: 576px){
    body{
        overflow-x: hidden;
    }
    .menu-toggle{
        display: flex;
        z-index: 1;
    }
    nav{
        position: sticky;
        top: 0;
    }
    nav ul{
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        height: 100vh;
        background-color: #dbd8e3;
        justify-content: space-evenly;
        align-items: center;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
        /* border-left: 3px solid #2a2438; */
        box-shadow: 0 0 20px 20px rgba(0,0,0,.3);
    }
    nav ul li a{
        background-color: #000047;
        color: #dbd8e3;
        padding: 5px;
        border-radius: 10px;
        transition: 0.5s;
        position: sticky;
    }
    nav ul li a:hover{
        color: #000047;
        text-decoration: underline;
        background-color: #dbd8e3;
    }
    .name{
        z-index: -12;
    }
    nav ul.slide{
        opacity: 1;
        transform: translateX(0);
    }
    h4{
    padding-left: 0px;
    }
    .email{
    width: 70%;
    }
    .socmed{
    width: 50%;
    align-items: center;
    text-align: center;
    }
    .socmed img{
        padding-top: 20px;
    }
    /* home */
    .home{
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    .home-img img{
        width: 80%;
        margin-left: 70px;
    }
    .home-content{
        margin: auto;
        margin-left: 70px;
        width: 300px;
    }
    .home-content h1,span{
        font-size: 25px;
    }
    .home-content h3{
        font-size: 25px;
    }
    /* home end */
    /* project */
    .project{
        flex-direction: column;
        margin: auto;
        margin-left: 100px;
    }

    .project img{
        width: 100%;
    }
    /* project end */
    /* footer */
    .foot-1 h1{
        font-size: 1.5em;
    }
    .foot-under span{
        font-size: 1em;
    }

    /* footer end */
}
/* contact */


/* ukuran tablet */
@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    nav ul{
        width: 70%;
    }

    .socmed{
        width: 40%;
        text-align: center;
    }
    .project{
        margin: auto;
        margin-left: 10px;
    }
    .project img{
        width: 300px;
        margin-left: 0;
    }
    
}
