*{
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}
html, body {
    /* overflow-x: hidden; */
    max-width: 100%;
}
body{
    height: auto;
    width: 100%;
    background-color: #dbd8e3;
    overflow-x: hidden;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
/* home */
.home{
    display: flex;
    padding-top: 150px;
    /* justify-content: center; */
    /* align-items: center; */
    /* padding-top: 100px; */
    gap: 3rem;
    /* background-color: black; */
    /* background-color: #393e46; */
    /* z-index: 12; */
    /* position: absolute; */
    width: 100%;
    height: 400px;
}
.home-content{
    /* border: 2px solid black; */
    padding-top: 50px;
}
.home-content h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    color: #000047;
}
.home-content h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #000047;
}
.home-content span{
    color: black;
}
.home-img{
    border-radius: 50%;
    padding-left: 40px;
}
.home-img img{
    position: relative;
    width: 300px;
    box-shadow: 0 0 25px solid black;
    cursor: pointer;
    transition: 0.2s linear;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.9);
}
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

/* home end */
.name a{
    text-decoration: none;
    color: #dbd8e3;
    background-color: #000047;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.7s;
}
.name a:hover{
    color: #000047;
    background-color: transparent;
}
h3{
    color: #dbd8e3;
}
nav{
    display: flex;
    /* position: absolute; */
    justify-content: space-around;
    background-color: #dbd8e3;
    position: sticky;
    top: 0;
    padding: 20px 0;
    z-index: 3;
    letter-spacing: 1px;
    /* border-bottom: 1px solid #352f44; */
    /* box-shadow: 0 0px 2px 2px #352f44; */
    /* backdrop-filter: blur(5px); */
    border-bottom: 1px solid black;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 40%;
    align-items: center;
}
nav ul li{
    padding-right: 40px;
}
nav ul li a{
    /* color: #dbd8e3;
    background-color: #000047; */
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    color: #000047;
    background-color: transparent;
}
nav ul li a:hover{
    /* color:  #000047;
    background-color: transparent; */
    color: #dbd8e3;
    background-color: #000047;
}

/* menu toggle */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: #2a2438;
    border-radius: 3px;
    transition: all 0.5s;
}
/* profile */
#profile {
    margin-top: 200px;
    padding: 50px 0;
    background-color: #000047;
    /* background-color: #90AB8B; */
    /* border: 2px solid #000047; */
}
.profile-container {
    width: 80%;
    margin: auto;
}
.profile-container h1 {
    text-align: center;
    margin-bottom: 50px;
    color: white;
}
.profile-content {
    display: flex;
    gap: 50px;
    align-items: center;
}
.profile-text h2 {
    color: white;
    margin-bottom: 15px;
}
.profile-text p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: white;
}
.profile-data {
    list-style: none;
}
.profile-data li {
    margin-bottom: 10px;
    color: white;
}
.profile-data span {
    font-weight: bold;
    color: white;
}

/* profile end*/
/* education  */
.edu-text h1{
    margin-top: 200px;
    text-align: center;
}
.edu{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
.edu a{
    display: inline-block;
    text-decoration: none;
    line-height: 0;
    border-radius: 100px;
}
.edu img{
    filter: grayscale(100%);
    transition: filter 0.4s ease-in-out;
    display: block;
}
.edu a:hover img{
    filter: grayscale(0%);
}
.edu a img{
    width: 200px;
    border-radius: 20px;
}
.edu-1 a img{
    width: 220px;
}

/* education end */

/* project */
.text-proj h3{
    color: black;
    text-align: center;
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-top: 200px;
    margin-bottom: 50px;
}
.project{
    display: flex;
    flex-wrap: wrap;
    /* margin: 10px 100px 50px 190px ; */
    /* justify-content: space-evenly; */
    justify-content: left;
    padding-left: 150px;
    gap: 100px;
    background-color: #2B3856;
    /* height: 1000px; */
}
.project h4{
    padding: 0;
    padding-top: 20px;
    font-size: 30px;
    color: white;
}
.project p{
    color: white;
}
.project-1{
    padding: 20px;
}
.project-1 a{
    color: black;
}
.project-1 img{
    width: 400px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0 0 5px 4px ;
    transition: 0.3s ease-in-out;
}
.project-1 a:hover img{
    filter: brightness(50%);
}
.project-2 a{
    color: black;
}
.project-2 img{
    width: 400px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0 0 5px 4px ;
    transition: 0.3s ease-in-out;
}
.project-2 a:hover img{
    filter: brightness(50%);
}
.project-2{
    padding: 20px;
}
.project-3 a{
    color: black;
}
.project-3 img{
    width: 400px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0 0 5px 4px ;
    transition: 0.3s ease-in-out;
}
.project-3 a:hover img{
    filter: brightness(50%);
}
.project-3{
    padding: 20px;
    margin-top: -50px;
    /* border: 2px solid black; */
}
/* project end*/

/* contact */

#contact{
    display: flex;
}
.email{
    background-color: white;
    margin: 200px 100px 100px;
    width: 500px;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
    border-radius: 10px;
}
.form-group{
    margin-bottom: 20px;
}
.form-group input:hover, textarea:hover{
    border: solid blue;
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type='text'],
input[type='email'],
textarea {
    width: 100%;
}
textarea{
    height: 100px;
}
input[type='submit']{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
input[type='submit']:hover{
    background-color: #352f44;
}
.socmed{
    /* background-color: white; */
    margin: 200px 50px 100px;
    width: 270px;
    padding: 30px;
    /* box-shadow: 0 0 3px 3px rgba(0,0,0,.3); */
    /* border-radius: 10px; */
}
.socmed h1,h2{
    /* color: white; */
    line-height: 50px;
}
.socmed a{
    text-decoration: none;
}
.socmed img{
    width: 50px;
    padding: 5px;
    transition: 0.3s ease-in-out;
    /* background-color: #000047; */

}
.socmed a:hover img{
    /* filter: brightness(50%) */
    background-color: white;
    border-radius: 10px;
}

.socmed-icons{
    display: flex;
    gap: 15px;
}

.socmed-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    transition: 0.3s ease-in-out;
}

.img-instagram{
    background-image: url("../img/contactimg/instagram\ \(1\).png");
}
.img-instagram:hover{
    background-image: url("../img/contactimg/instagram\ \(3\).png");
}

.img-wa{
    background-image: url("../img/contactimg/whatsapp.png");
}
.img-wa:hover{
    background-image: url("../img/contactimg/whatsapp\ \(1\).png");
}

.img-yt{
    background-image: url("../img/contactimg/youtube\ \(1\).png");
}
.img-yt:hover{
    background-image: url("../img/contactimg/youtube\ \(2\).png");
}

.img-git{
    background-image: url("../img/contactimg/github.png");
}
.img-git:hover{
    background-image: url("../img/contactimg/github\ \(1\).png");
}


/* contact */

/* hamburger menu animation */

.menu-toggle span:nth-child(2){
    /* background-color: aqua; */
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4){
    /* background-color: aqua; */
    transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2){
    background-color: #dbd8e3;
    transform:rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4){
    background-color: #dbd8e3;
    transform:rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform:scale(0);
}

/* footer */
.foot{
    height: 70px;
    background-color: #000047;
    margin-top: 50px;
    padding: 30px;
    color: white;
}
/* .foot-1{
    display: flex;
    justify-content: space-around;
}
.foot ul li {
    list-style: none;
    padding: 10px;
}
.foot ul li a{
    text-decoration: none;
    color: white;
}
.foot ul li a:hover{
    color: #5C5CFF;
} */
.foot-under{
    flex-direction: column;
}
.foot-under hr{
    margin-top: 10px;
}
.foot-under p{
    text-align: center;
    font-size: 0.8em;
    padding-top: 10px;
}
.foot-under span a{
    text-decoration: none;
    color: #5C5CFF;
}
.foot-under span a:hover{
    color: black;
}
/* footer end */


/* responsive */

/* ukuran tablet */
@media screen and (max-width: 768px){
    html, body {
    overflow-x: hidden;
    max-width: 100%;
}
    body{
        overflow-x: hidden;
    }
    nav ul{
        width: 70%;
    }
    .project{
        margin: auto;
        /* margin-left: 10px; */
    }
    .project img{
        width: 300px;
        margin-left: 0;
    }
    .home-img img {
        width: 100%;
        /* width: 200px; */
    }
    .home-content{
        margin-right: 100px;
    }
    .home-content h1{
        font-size: 3em;
    }
    .home-content h3{
        font-size: 3em;
    }

    /* education  */
    /* .edu a img{
        width: 100%;
    } */
    .edu-1 a img{
        width: 180px;
    }
    .edu-2 a img{
        width: 160px;
    }
    .edu-3 a img{
        width: 150px;
    }
    .edu-4 a img{
        width: 170px;
    }
    /* education end */
    /* contact */
    #contact{
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
    .email{
        width: 80%;
        margin: 50px ;
    }
    .socmed{
        text-align: center;
        margin: 0;
    }
    .socmed-icons{
        justify-content: center;
    }
    /* contact end */
}



/* ukuran hp */
@media screen and (max-width: 576px){
    html, body {
    overflow-x: hidden;
    max-width: 100%;
}
    body{
        overflow-x: hidden;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .menu-toggle{
        display: flex;
        z-index: 1;
    }
    nav{
        position: fixed;
        top: 0;
        /* width: 400px; */
        width: 100%;
    }
    nav ul{
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        height: 100vh;
        background-color:  #000047;
        justify-content: space-evenly;
        align-items: center;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
        /* border-left: 3px solid #2a2438; */
        box-shadow: 0 0 20px 20px rgba(0,0,0,.3);
    }
    nav ul li a{
        background-color: #000047;
        color: #dbd8e3;
        padding: 5px;
        border-radius: 10px;
        transition: 0.5s;
        z-index: 200;
    }
    nav ul li a:hover{
        color: #000047;
        text-decoration: underline;
        background-color: #dbd8e3;
    }
    .name{
        z-index: -12;
    }
    nav ul.slide{
        opacity: 1;
        transform: translateX(0);
    }
    h4{
    padding-left: 0px;
    }
    #contact{
        flex-direction: column;
        align-items: center;
    }
    .email{
    width: 70%;
    }
    .socmed{
        width: 80%;
        text-align: center;
        margin: 0;
    }
    .socmed-icons{
        justify-content: center;
    }
    .socmed-icon{
        width: 30px;
        height: 30px;
    }
    /* home */
    .home{
        /* width: 70%; */
        display: flex;
        flex-direction: column;
        margin: 0;
        /* position: absolute; */
        /* margin-bottom: 800px; */
    }
    .home-img img{
        width: 50%;
        margin-left: 60px;
    }
    .home-content{
        width: 300px;
        margin-left: 50px;
        align-items: center;
        text-align: center;
    }
    .home-content h1{
        font-size: 1.7rem;
    }
    .home-content h3{
        font-size: 1.5rem;
    }
    /* home end */
    /* profile */
    #profile{
        margin-top: 150px;
    }
    .profile-content {
        flex-direction: column;
        text-align: center;
    }

    .profile-img img {
        width: 200px;
    }
    /* profile end */
    /* education */
    .edu{
        flex-direction: column;
    }
    .edu a img{
        margin-top: 20px;
    }

    /* education end */
    /* project */
    .project{
        flex-direction: column;
        /* margin: auto; */
        padding-left: 10px;
        /* width: 93%; */
    }

    /* project end */
    /* footer */
    .foot-1 h1{
        font-size: 1.5em;
    }
    .foot-under span{
        font-size: 1em;
    }

    /* footer end */
}
/* contact */

